.DS_store
/source
/build
/node_modules

.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/kariba.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
-/img/team_jesse_greyed.png
-/img/team_jesse_dark.jpg
-/img/team_jesse_bright.png
-/img/team_jesse_big.jpeg
*.afdesign
