div.common-content {

    font-size: 14px;
    line-height: 20px;

    h6 {
        @include jost();
        font-size: 14px;
        line-height: 20px;
    }

    p {
        padding-bottom: 30px;
    }

    ul {

        font-size: 0;
        line-height: 0;
        padding-bottom: 30px;

        li {
            font-size: 14px;
            line-height: 20px;
        }

    }

    a {
        border-bottom: 1px solid transparent;
        transition: border $transition, color $transition;
    }



    &--style-serif {

        @include quincy();
        font-size: 19px;
        line-height: 30px;

        h6 {
            margin-top: 5px;
        }

        p {
            padding-bottom: 32px;
        }

        ul {

            padding-bottom: 32px;

            li {
                font-size: 19px;
                line-height: 30px;
            }

        }

        &.common-content--size-small {

            font-size: 16px;
            line-height: 24px;

            h6 {
                margin-top: 3px;
            }

            p {
                padding-bottom: 26px;
            }

            ul {

                padding-bottom: 26px;

                li {
                    font-size: 16px;
                    line-height: 24px;
                }

            }

        }

    }

    &--theme-blue {

        color: $white;

        a {

            border-color: rgba($white, 0.2);
            color: $white;

            &:hover {
                border-color: $white;
            }

        }

    }

    &--theme-blue-light {

        color: $white;

        a {

            border-color: rgba($white, 0.2);
            color: $white;

            &:hover {
                border-color: $white;
            }

        }

    }

    &--theme-grey {

        color: $black;

        h6 {
            color: $grey-dark;
        }

        a {

            border-color: rgba($grey-dark, 0.2);
            color: $grey-dark;

            &:hover {
                border-color: $black;
                color: $black;
            }

        }

    }

    &--theme-white {

        color: $black;

        h6 {
            color: $grey-dark;
        }

        a {

            border-color: rgba($grey-dark, 0.2);
            color: $grey-dark;

            &:hover {
                border-color: $black;
                color: $black;
            }

        }

    }



    @media(min-width: 1024px) {

        font-size: 16px;
        line-height: 24px;

        p {
            padding-bottom: 24px;
        }

        ul {

            padding-bottom: 24px;

            li {
                font-size: 16px;
                line-height: 24px;
            }

        }

        &--style-serif {

            font-size: 24px;
            line-height: 36px;

            p {
                padding-bottom: 39px;
            }

            ul {

                padding-bottom: 39px;

                li {
                    font-size: 24px;
                    line-height: 36px;
                }

            }

            &.common-content--size-small {

                font-size: 19px;
                line-height: 30px;

                h6 {
                    margin-top: 5px;
                }

                p {
                    padding-bottom: 22px;
                }

                ul {

                    padding-bottom: 22px;

                    li {
                        font-size: 19px;
                        line-height: 30px;
                    }

                }

            }

        }

    }



}
