div.common-headline {

    font-size: 14px;
    line-height: 20px;

    h1 {
        @include quincy();
        font-size: 53px;
        font-weight: 500;
        line-height: 53px;
    }

    h2 {
        @include jost();
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.15em;
        line-height: 25px;
        text-transform: uppercase;
    }



    &--theme-blue {
        color: $white;
    }

    &--theme-blue-light {
        color: $white;
    }

    &--theme-green {
        color: $white;
    }

    &--theme-grey {
        color: $black;
    }

    &--theme-white {
        color: $black;
    }



    @media(min-width: 1024px) {

        font-size: 16px;
        line-height: 24px;

        h1 {
            font-size: 66px;
            line-height: 68px;
        }

    }



}
