div.common-social {

    pointer-events: none;
    user-select: none;

    ul {

        font-size: 0;
        line-height: 0;

        li {

            display: inline-block;

            a {

                background: $black;
                border-radius: 100%;
                display: block;
                height: 40px;
                pointer-events: auto;
                position: relative;
                transition: background $transition;
                width: 40px;

                svg {

                    height: 16px;
                    position: absolute;
                    width: 16px;

                    path {
                        fill: $white;
                    }

                }

                &:hover {
                    background: $blue;
                }

            }

            &.twitter svg {
                height: 13px;
                left: 12px;
                top: 14px;
            }

            &.instagram svg {
                left: 12px;
                top: 12px;
            }

            &.facebook svg {
                left: 16px;
                top: 12px;
                width: 7px;
            }

            &.email svg {
                height: 12px;
                left: 12px;
                top: 14px;
            }

            &:not(:last-child) {
                margin-right: 8px;
            }

        }

    }

}
