div.banner {

    @include span(full);
    background: $grey;

    &__headline,
    &__booking,
    &__content {
        float: left;
        margin-left: 100px;
        position: relative;
        width: calc(100% - 800px);
    }

    &__headline {
        margin-bottom: 40px;
        margin-top: 83px;
    }

    &__grid {
        height: 400px;
        position: absolute;
        top: 0;
        right: 0;
        width: 600px;
    }

    &__circle {

        background: $red;
        border-radius: 100%;
        float: left;
        height: 400px;
        position: relative;
        width: 400px;

        h2 {
            @include jost();
            color: $white;
            font-size: 27px;
            font-weight: 500;
            left: 50%;
            letter-spacing: 0.15em;
            line-height: 40px;
            position: absolute;
            text-align: center;
            text-transform: uppercase;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 200px;
        }

    }

    &__ornament {
        float: left;
        position: relative;
        width: 200px;
    }

    &__booking,
    &__content {
        clear: both;
    }

    &__content {
        font-size: 29px;
        line-height: 42px;
        margin-bottom: 93px;
        margin-top: 87px;
    }



    @media(min-width: 1024px) {



    }



}
