div.cancellation {

    @include span(full);
    background: $white;
    overflow: hidden;
    position: relative;

    &__image {

        @include span(full);
        height: 55vw;
//         height: 46.76vw;
        max-height: 900px;
        position: relative;

        figure {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            position: absolute;
            width: 100%;
        }

    }

    &__ornament {

        height: 100%;
        left: -1px;
        position: absolute;
        top: 0;

        img {
            display: block;
            height: 100%;
            max-height: 100%;
            max-width: none;
            width: auto;
        }

    }

    &__headline {

        background: $green;
        float: right;
        margin-bottom: -100%;
        position: relative;
        text-align: center;
        transform: translateY(-100%);
        width: 50%;

        h2 {
            margin: 91px 50px 89px 50px;
        }

    }

    &__content {

        float: left;
        margin: 95px 100px 69px 100px;
        position: relative;
        text-align: center;
        width: calc(100% - 200px);

        p {
            margin-left: auto;
            margin-right: auto;
            max-width: 1000px;
        }

    }



    @media(min-width: 1024px) {



    }



}
