div.cancellation {

    @include span();
    background: $white;
    overflow: hidden;
    position: relative;

    &__image {

        @include span();
        height: 55vw;
        max-height: 900px;
        min-height: 250px;
        position: relative;
        user-select: none;

        figure {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            position: absolute;
            width: 100%;
        }

    }

    &__ornament {

        height: 100%;
        left: -1px;
        position: absolute;
        top: 0;
        user-select: none;

        img {
            display: block;
            height: 100%;
            max-height: 100%;
            max-width: none;
            width: auto;
        }

    }

    &__headline {

        @include span();
        background: $green;
        height: 125px;
        position: relative;

        h2 {
            margin-left: 30px;
            margin-right: 30px;
//             position: absolute;
            text-align: center;
//             top: 50%;
//             transform: translateY(-50%);
            width: calc(100% - 60px);
        }

    }

    &__content {

        float: left;
        margin: 55px 30px 25px 30px;
        position: relative;
        text-align: center;
        width: calc(100% - 60px);

        p {
            margin-left: auto;
            margin-right: auto;
            max-width: 1000px;
        }

    }



    @media(min-width: 1024px) {

        &__headline {

            float: right;
            height: 200px;
            margin-bottom: -100%;
            transform: translateY(-100%);
            width: 50%;

            h2 {
                margin-left: 50px;
                margin-right: 50px;
                width: calc(100% - 100px);
            }

        }

        &__content {
            margin: 95px 100px 69px 100px;
            width: calc(100% - 200px);
        }

    }



}
