div.diagnosis {

    @include span(full);
    background: $white;
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;

    &:before {
        background: $grey;
        content: '';
        height: 100px;
        left: 0;
        position: absolute;
        width: 100%;
    }

    &__headline {

        @include span(full);
        position: relative;
        z-index: 1;

        h2 {
            background: $blue;
            float: left;
            padding: 91px 50px 89px 50px;
            position: relative;
            text-align: center;
            width: calc(100% - 800px);
        }

    }

    &__ornament {
        float: right;
        width: 700px;
    }

    &__conditions {

        float: left;
        margin: 112px 100px 69px 0;
        position: relative;
        width: 50%;
        z-index: 1;

        ul {

            float: left;
            position: relative;
            text-align: center;
            width: calc(33.33% - 33px);

            li {
                @include span(full);
                color: $blue-light;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0.15em;
                line-height: 18px;
                margin-bottom: 18px;
                position: relative;
                text-transform: uppercase;
            }

            &:not(:last-child) {
                margin-right: 50px;
                width: calc(33.33% - 34px);
            }

        }

    }

    &__content {

        float: left;
        position: relative;
        z-index: 1;

        &--primary {
            margin: 100px 100px 50px 100px;
            text-align: right;
            width: calc(50% - 300px);
        }

        &--secondary {

            margin: 0 100px 69px 100px;
            text-align: center;
            width: calc(100% - 200px);

            p {
                margin-left: auto;
                margin-right: auto;
                max-width: 1000px;
            }

        }

    }

    &__booking {
        @include span(full);
        margin-bottom: 100px;
        position: relative;
        text-align: center;
        z-index: 1;
    }



    @media(min-width: 1024px) {



    }



}
