div.diagnosis {

    @include span();
    background: $white;
    position: relative;

    &__headline,
    &__ornament,
    &__booking {
        @include span();
        position: relative;
    }

    &__headline {

        background: $blue;
        height: 125px;
        z-index: 1;

        h2 {
            margin-left: 30px;
            margin-right: 30px;
            text-align: center;
            width: calc(100% - 60px);
        }

    }

    &__ornament {

        float: right;
        height: 125px;
        max-width: 437px;
        overflow: hidden;
        user-select: none;
        z-index: 1;

        img {
            display: block;
            height: 100%;
            max-height: 100%;
            max-width: none;
            width: auto;
        }

    }

    &__content,
    &__conditions {
        float: left;
        margin-left: 30px;
        margin-right: 30px;
        text-align: center;
        width: calc(100% - 60px);
    }

    &__content {

        &--primary {
            margin-bottom: 16px;
            margin-top: 50px;
        }

        &--secondary {

            margin-bottom: 55px;

            p {
                margin-left: auto;
                margin-right: auto;
                max-width: 1000px;
            }

        }

    }

    &__conditions {

        margin-bottom: 33px;

        ul li {
            color: $blue-light;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.15em;
            line-height: 18px;
            margin-bottom: 18px;
            text-transform: uppercase;
        }

    }

    &__booking {
        margin-bottom: 60px;
        text-align: center;
    }



    @media(min-width: 768px) {

        &:before {
            background: $grey;
            content: '';
            height: 62px;
            left: 0;
            position: absolute;
            width: 100%;
        }

        &__headline {

            height: 125px;
            width: calc(100% - 375px);

            h2 {
                margin-left: 50px;
                margin-right: 50px;
                width: calc(100% - 100px);
            }

        }

        &__ornament {
            max-width: 375px;
        }

    }



    @media(min-width: 1024px) {

        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;

        &:before {
            height: 100px;
        }

        &__headline {
            height: 200px;
            width: calc(100% - 600px);
        }

        &__ornament {
            float: left;
            height: 200px;
            max-width: 600px;
            width: 100%;
        }

        &__content {

            margin-left: 100px;
            margin-right: 100px;

            &--primary {
                margin-bottom: 45px;
                margin-top: 89px;
                text-align: right;
                width: calc(50% - 300px);
            }

            &--secondary {
                margin-bottom: 69px;
                width: calc(100% - 200px);
            }

        }

        &__conditions {

            margin: 101px 100px 72px 0;
            width: 50%;

            ul {

                float: left;
                width: calc(33.33% - 33px);

                &:not(:last-child) {
                    margin-right: 50px;
                    width: calc(33.33% - 34px);
                }

            }

        }

        &__booking {
            margin-bottom: 100px;
        }

    }



    @media(min-width: 1240px) {

        &__headline {
            width: 50%;
        }

        &__ornament {
            max-width: 700px;
            width: 50%;
        }

    }



}
