div.drawer-overlay {
    background: rgba($black, 0.5);
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    user-select: none;
    visibility: hidden;
    width: 100%;
    z-index: 1000;
}



div.drawer {

    background: $grey;
    font-size: 0;
    height: 100%;
    left: 0;
    line-height: 0;
    -webkit-overflow-scrolling: touch;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    text-align: center;
    top: 0;
    user-select: none;
    visibility: hidden;
    width: 100%;
    z-index: 1001;

    &__logo {

        @include span();
        margin-bottom: 45px;
        margin-top: 125px;
        position: relative;

        svg {
            display: inline-block;
        }

    }

    &__options {

        float: left;
        margin: 0 30px 45px 30px;
        position: relative;
        width: calc(100% - 60px);

        ul {

            @include span();

            li {

                @include span();

                a {

                    color: $black;
                    display: inline-block;
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: 0.15em;
                    line-height: 20px;
                    padding-bottom: 10px;
                    padding-top: 10px;
                    text-transform: uppercase;
                    transition: color $transition;

                    &:hover {
                        color: $blue;
                    }

                }

                &.selected a {

                }

            }

        }

    }

    &__booking {
        @include span();
        margin-bottom: 60px;
        position: relative;
    }



    @media(min-width: 1024px) {



    }



}
