div.footer {

    @include span();
    background: $grey;
    position: relative;
    user-select: none;

    &__thanks {

        float: left;
        margin: 57px 30px;
        position: relative;
        width: calc(100% - 60px);

        a {

            @include span();
            display: block;
            position: relative;

            span {

                background: $blue-light;
                border-radius: 100%;
                height: 40px;
                position: absolute;
                right: 0;
                top: calc(50% - 20px);
                transition: background $transition;
                width: 40px;

                svg {

                    left: 13px;
                    position: absolute;
                    top: 12px;

                    path {
                        fill: $white;
                    }

                }

            }

            strong {
                @include jost();
                color: $black;
                float: left;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0.15em;
                line-height: 16px;
                text-transform: uppercase;
                transition: color $transition;
                width: calc(100% - 60px);
            }

            &:hover {

                span {
                    background: $blue;
                }

                strong {
                    color: $blue;
                }

            }

        }

    }

    &__ornament {
        float: left;
        width: 125px;
    }

    &__legal {

        background: $blue;
        float: left;
        height: 125px;
        position: relative;
        width: calc(100% - 125px);

        p {
            color: $white;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 0.03em;
            line-height: 18px;
            margin-left: 30px;
            margin-right: 30px;
            position: absolute;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
            width: calc(100% - 60px);
        }

    }



    @media(min-width: 568px) {

        &__thanks a strong br,
        &__legal p br {
            display: none;
        }

    }



    @media(min-width: 1024px) {

        &__thanks {

            margin: 0 50px;
            width: calc(50% - 100px);

            a {

                height: 200px;

                span {
                    left: 0;
                    right: auto;
                }

                strong {

                    float: none;
                    margin-left: 60px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);

                    br {
                        display: inline;
                    }

                }

            }

        }

        &__ornament {
            width: 200px;
        }

        &__legal {

            height: 200px;
            width: calc(50% - 200px);

            p {

                font-size: 14px;

                br {
                    display: inline;
                }

            }

        }

    }



    @media(min-width: 1280px) {

        &__thanks a strong br,
        &__legal p br {
            display: none;
        }

    }



}
