div.logo {

    @include span();
    background: $grey;
    font-size: 0;
    line-height: 0;
    position: relative;

    &__wordmark {

        @include span();
        margin-top: 35px;
        position: relative;
        text-align: center;

        svg {
            display: inline-block;
        }

    }



    @media(min-width: 1024px) {

        &__wordmark {
            margin-left: 100px;
            margin-right: 100px;
            margin-top: 75px;
            text-align: left;
            width: calc(100% - 200px);
        }

    }



    @media(min-width: 1280px) {

        &__wordmark {
            margin-top: 0;
        }

    }



}
