div.menu {

    height: 90px;
    position: fixed;
    right: 0;
    top: 0;
    width: 90px;
    z-index: 1003;

    button {

        background: none;
        cursor: pointer;
        height: 90px;
        position: absolute;
        width: 90px;

        span {

            background: $black;
            height: 2px;
            left: 30px;
            margin-top: -1px;
            position: absolute;
            top: 50%;
            transition: background $transition, transform $transition;
            width: 30px;

            &:before,
            &:after {
                background: $black;
                content: '';
                height: 2px;
                left: 0;
                position: absolute;
                transition: background $transition, opacity $transition, top $transition, width $transition;
            }

            &:before {
                top: -7px;
                width: 100%;
            }

            &:after {
                top: 7px;
                width: 100%;
            }

        }

        &:hover span {

            background: $blue;

            &:before,
            &:after {
                background: $blue;
            }

        }

    }



    &--open {

        button span {

            transform: rotate(135deg);
            transition: background $transition, transform $transition;

            &:before {
                opacity: 0;
                top: 0;
                transition: background $transition, opacity $transition, top $transition;
            }

            &:after {
                top: 0;
                transform: rotate(90deg);
                transition: background $transition, top $transition, transform $transition, width $transition;
                width: 100%;
            }

        }

    }



    @media(min-width: 1280px) {
        display: none;
    }



}
