div.nav {

    background: $grey;
    height: 90px;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    transition: box-shadow $transition, height $transition;
    top: 0;
    user-select: none;
    width: calc(100% - 40px);
    z-index: 1003;

    &__options {

        display: none;
        float: left;
        font-size: 0;
        line-height: 0;
        margin-left: 100px;
        margin-top: 95px;
        transition: margin-top $transition;

        ul {

            float: left;
            position: relative;

            li {

                float: left;
                position: relative;

                a {

                    @include jost();
                    color: $black;
                    display: block;
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: 0.15em;
                    line-height: 20px;
                    text-transform: uppercase;
                    transition: color $transition;

                    &:hover {
                        color: $blue;
                    }

                }

                &:not(:last-child) {
                    margin-right: 35px;
                }

                &.selected a {

                }

            }

        }

    }

    &__social {
        float: left;
        margin-left: 30px;
        margin-top: 27px;
        transition: margin-top $transition;
    }



    @media(min-width: 1280px) {

        height: 0;

        &__options {
            display: block;
        }

        &__social {
            float: right;
            margin-left: 0;
            margin-right: 100px;
            margin-top: 87px;
        }

        &--slim {

            height: 90px;

            div.nav__options {
                margin-top: 35px;
            }

            div.nav__social {
                margin-top: 27px;
            }

        }

    }



}



body.mobile {



}
