@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');

@font-face {
    font-family: 'Quincy';
    font-style: normal;
    font-weight: 500;
    src: url('../font/quincy-cf-medium.eot');
    src: url('../font/quincy-cf-medium.eot?#iefix') format('embedded-opentype'),
         url('../font/quincy-cf-medium.woff2') format('woff2'),
         url('../font/quincy-cf-medium.woff') format('woff'),
         url('../font/quincy-cf-medium.ttf') format('truetype');
}
