$white: #FFF;

$black: #000;

$grey: #F1F1F1;
$grey-dark: #A0A0A0;

$red: #ED6954;
$red-light: lighten($red, 8%);

$green: #A3C8D0;

$blue: #255ED6;
$blue-light: #167EE6;

$transition: 0.25s cubic-bezier(0.33, 1, 0.68, 1);

$container: 1400px;
